/** CURRENTLY UNUSED -- commented out in main.scss. Gutters and stuff don't work.

  TODO: revisit XL breakpoint
**/

/** 
 * Extra breakpoints and other grid-y stuff
 * Via: https://github.com/Gizra/custom-breakpoint-example/blob/master/app/_scss/_grids.scss
 */

// This container is a custom one, Bootstrap out of the box has 3 containers.
$ContainerXL: 1401px;

// XL screen / monitor. (Custom breakpoint).
$screen-xl: 1401px;

// Minimum screen size for the custom grid.
$screen-xl-min: $screen-xl;

// Max screen size for Large screen / tablet.
$screen-lg-max: ($screen-xl-min - 1);

// Container width for the custom grid.
//
// Set the container width, and override it for fixed navbars in media queries.
.container {
  @media (min-width: $screen-xl-min) {
    width: $ContainerXL;
  }
}

// Function that creates the custom grid
// XL grid
@media (min-width: $screen-xl-min) {
  @include make-grid(xl);
}

// Add visibility "visible-xl" class for the custom grid
@media (min-width: $screen-xl-min) {
  @include responsive-visibility('.visible-xl');
}

// Add hidden "hidden-is" class for the custom grid
@media (max-width: $screen-xl-min) {
  @include responsive-invisibility('.hidden-xl');
}

/* .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, 
.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 { 
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 15px;
} */