<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Data Input</div>
      <div class="panel-body">
        <hot-table ng-if="appConfig.input === 'spreadsheet'" rowHeaders="true" datarows="inputs.inputData" colHeaders="true" minSpareCols="27" minSpareRows="10" height="200" afterChange="updateData()"></hot-table>
        <textarea ng-if="appConfig.input === 'csv'" ng-if="" maintain-focus id="csvInput" class="form-control" rows="3" ng-model="inputs.inputData" ui-validate="'validateData($value)'" ng-change="updateData()"></textarea>
      </div>
    </div>
  </div>
</div> <!-- /.row -->
