<div class="panel panel-default">
  <div class="panel-heading" 
       ng-click="inputIsCollapsed = !inputIsCollapsed"
       ng-class="{collapsed: !inputIsCollapsed}">
    Data Input
  </div>
  
  <div class="panel-body" collapse="inputIsCollapsed">
    <hot-table 
      ng-if="appConfig.input === 'spreadsheet'" 
      rowHeaders="true"
      datarows="inputs.inputData" 
      colHeaders="true"
      minSpareCols="27"
      minSpareRows="10" 
      height="200"
      afterChange="updateData()">
    </hot-table>
    <textarea 
      maintain-focus
      ng-if="appConfig.input === 'csv'"
      id="csvInput"
      class="form-control" 
      rows="3"
      ng-model="inputs.inputData" 
      ui-validate="'validateData($value)'" 
      ng-change="updateData()">
    </textarea>
  </div>
</div>
