<!-- this is where the chart actually renders -->
<svg
  build-chart
  config="main"
  class="{{main.config.preset.class}}"
  id="chart-container">

  <!-- Background fill -->
  <rect
    ng-style="{'fill': main.config.backgroundColor}"
    width="100%" height="100%"
    ng-if="main.config.background && main.config.backgroundColor" />

  <!-- everything gets rendered inside of this -->
  <svg id="chart"></svg>

</svg>
<canvas id="canvas" width="1072px" height="676px" /> <!-- needed for PNG output -->
