<div class="list-group">
  <a href class="list-group-item" ng-class="{disabled: main.currentRight === 'data'}">
    <i class="icon-basic-server2"></i> <span class="label">Data</span>
  </a>
  <a href class="list-group-item" ng-class="{disabled: main.currentRight === 'color'}">
    <i class="icon-software-paintbucket"></i> <span class="label">Colour</span>
  </a>
  <a href class="list-group-item" ng-class="{disabled: main.currentRight === 'axes'}">
    <i class="icon-basic-pencil-ruler"></i> <span class="label">Axes</span>
  </a>
  <a href class="list-group-item" ng-class="{disabled: main.currentRight === 'text'}">
    <i class="icon-software-font-size"></i> <span class="label">Text</span>
  </a>
  <a href class="list-group-item" ng-class="{disabled: main.currentRight === 'animation'}">
    <i class="icon-arrows-square-downleft"></i> <span class="label">Animation</span>
  </a>
  <a href class="list-group-item" ng-class="{disabled: main.currentRight === 'other'}">
    <i class="icon-basic-gear"></i> <span class="label">Other</span>
  </a>
</div>
