<div class="panel panel-default">
  <div class="panel-heading"
       ng-click="main.inputIsCollapsed = !main.inputIsCollapsed"
       ng-class="{collapsed: !main.inputIsCollapsed}">
    {{ 'PANEL_HEADING_DATA_INPUT' | translate }}
  </div>

  <div class="panel-body input-chooser" collapse="main.inputIsCollapsed">
    <input-chooser config="{
      config: main.config,
      appConfig: main.appConfig,
      inputs: main.inputs,
      updateData: main.updateData,
      resetConfig: main.resetConfig,
      setInput: main.setInput
    }"></input-chooser>
  </div>
</div>
