<div class="list-group">
  <a href class="list-group-item" ng-class="{disabled: main.currentLeft === ''}">
    <i class="icon-basic-sheet"></i> Save + Load
  </a>
  <a href class="list-group-item" ng-class="{disabled: main.currentLeft === ''}">
    <i class="icon-basic-server2"></i> Data
  </a>
  <a href class="list-group-item" ng-class="{disabled: main.currentLeft === ''}">
    <i class="icon-ecommerce-graph-increase"></i> Type
  </a>
  <a href class="list-group-item" ng-class="{disabled: main.currentLeft === ''}">
    <i class="icon-ecommerce-graph-increase"></i> Configure
  </a>
  <a href class="list-group-item" ng-class="{disabled: main.currentLeft === ''}">
    <i class="icon-ecommerce-graph-increase"></i> Export
  </a>
</div>
