<div class="panel panel-default">
  <div class="panel-heading"
       ng-click="chartOptionsAreCollapsed = !chartOptionsAreCollapsed"
       ng-class="{collapsed: chartOptionsAreCollapsed}">
    {{ 'PANEL_HEADING_CHART_OPTIONS' | translate }}
  </div>

  <div class="panel-body" collapse="!chartOptionsAreCollapsed">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="legendPosition" class="col-sm-4 control-label">{{ 'CHART_OPTIONS_LEGEND_SELECT_LABEL' | translate }}</label>
        <div class="col-sm-8">
          <div class="input-group">
            <select class="form-control" id="legendPosition" ng-model="main.config.legend.position">
              <option value="bottom">{{ 'CHART_OPTIONS_LEGEND_SELECT_OPTION_BOTTOM' | translate }}</option>
              <!-- <option value="top">top</option>
              <option value="left">left</option> -->
              <option value="right">{{ 'CHART_OPTIONS_LEGEND_SELECT_OPTION_RIGHT' | translate }}</option>
            </select>
            <span class="input-group-addon">
              <input
                type="checkbox"
                ng-model="main.config.legend.show"
                popover="{{ 'POPOVER_TEXT_LEGEND_CHECKBOX' | translate }}" />
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="chartTitle" class="col-sm-4 control-label">{{ 'CHART_OPTIONS_TITLE_LABEL' | translate }}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="chartTitle" ng-model="main.config.title.text" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="chartCredit" class="col-sm-4 control-label">{{ 'CHART_OPTIONS_CREDIT_LABEL' | translate }}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="chartCredit" ng-model="main.config.title.author" placeholder="{{ 'CHART_OPTIONS_CREDIT_FIELD_PLACEHOLDER' | translate }}" ng-model="chartCredit">
        </div>
      </div>
      <div class="form-group">
        <label for="chartSource" class="col-sm-4 control-label">{{ 'CHART_OPTIONS_SOURCE_LABEL' | translate }}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="chartSource" ng-model="main.config.title.source" placeholder="{{ 'CHART_OPTIONS_SOURCE_FIELD_PLACEHOLDER' | translate }}" ng-model="chartSource">
        </div>
      </div>
      <div class="form-group">
        <label for="chartTitlePosition" class="col-sm-4 control-label">{{ 'CHART_OPTIONS_TITLES_POSITION' | translate }}</label>
        <div class="col-sm-8">
          <select id="chartTitlePosition" class="form-control" ng-model="main.config.title.position">
            <option value="top-left">{{ 'CHART_OPTIONS_TITLES_POSITION_SELECT_OPTION_TOP_LEFT' | translate }}</option>
            <option value="top-center">{{ 'CHART_OPTIONS_TITLES_POSITION_SELECT_OPTION_TOP_CENTER' | translate }}</option>
            <option value="top-right">{{ 'CHART_OPTIONS_TITLES_POSITION_SELECT_OPTION_TOP_RIGHT' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="chartWidth" class="col-sm-4 control-label">{{ 'CHART_OPTIONS_WIDTH_LABEL' | translate }}</label>
        <div class="col-sm-8 input-group chartWidth-group">
          <input type="number" class="form-control" id="chartWidth" ng-model="main.config.chartWidth">
          <span class="input-group-addon">px</span>
        </div>
      </div>
      <div class="form-group">
        <label for="chartHeight" class="col-sm-4 control-label">{{ 'CHART_OPTIONS_HEIGHT_LABEL' | translate }}</label>
        <div class="col-sm-8 input-group chartHeight-group">
          <input type="number" class="form-control" id="chartHeight" ng-model="main.config.chartHeight">
          <span class="input-group-addon">px</span>
        </div>
      </div>
      <div class="form-group">
        <label for="chartTransition" class="col-sm-4 control-label">{{ 'CHART_OPTIONS_TRANSITION_LABEL' | translate }}</label>
        <div class="col-sm-8 input-group chartHeight-group">
          <input type="number" class="form-control" id="chartHeight" ng-model="main.config.transition.duration">
          <span class="input-group-addon">ms</span>
        </div>
      </div>
      <div class="form-group" ng-if="main.config.chartGlobalType !== 'series'">
        <label class="col-sm-4 control-label" for="chartAccuracy">{{ 'CHART_OPTIONS_SELECT_LABEL' | translate }}</label>
        <div class="col-sm-8">
          <select id="chartAccuracy" class="form-control" ng-model="main.config.chartAccuracy">
            <option value="0">{{ 'CHART_OPTIONS_SELECT_OPTION_TEXT' | translate:'{accuracy: 0}' }}</option>
            <option value="1">{{ 'CHART_OPTIONS_SELECT_OPTION_TEXT' | translate:'{accuracy: 1}' }}</option>
            <option value="2">{{ 'CHART_OPTIONS_SELECT_OPTION_TEXT' | translate:'{accuracy: 2}' }}</option>
            <option value="3">{{ 'CHART_OPTIONS_SELECT_OPTION_TEXT' | translate:'{accuracy: 3}' }}</option>
          </select>
        </div>
      </div>
      <div
        class="checkbox"
        ng-if="main.config.chartGlobalType === 'series' && main.hasAreas()">
        <label>
            <input type="checkbox" id="chartZerobased" ng-model="main.config.area.zerobased" />
          {{ 'CHART_OPTIONS_ZERO_BASED' | translate }}
        </label>
      </div>
      <div
        class="checkbox"
        popover="{{ 'POPOVER_TEXT_ROTATED_CHECKBOX' | translate }}"
        ng-if="main.config.chartGlobalType === 'series'">
        <label>
          <input type="checkbox" id="chartRotated" ng-model="main.config.axis.rotated" />
          {{ 'CHART_OPTIONS_ROTATED_LABEL' | translate }}
        </label>
      </div>
      <div
        class="checkbox"
        popover="{{ 'POPOVER_TEXT_ZOOMABLE_CHECKBOX' | translate }}"
        ng-if="main.config.chartGlobalType === 'series'">
        <label>
          <input type="checkbox" id="chartZoomable" ng-model="main.config.zoom.enabled" />
          {{ 'CHART_OPTIONS_ZOOMABLE_LABEL' | translate }}
        </label>
      </div>
      <div
        class="checkbox"
        popover="{{ 'POPOVER_TEXT_SUBCHART_CHECKBOX' | translate }}"
        ng-if="main.config.chartGlobalType === 'series'">
        <label>
          <input type="checkbox" id="chartSubchart" ng-model="main.config.subchart.show" />
          {{ 'CHART_OPTIONS_SUBCHART_LABEL' | translate }}
        </label>
      </div>
      <div class="checkbox" popover="{{ 'POPOVER_TEXT_BACKGROUND_CHECKBOX' | translate }}">
        <label>
          <input type="checkbox" id="chartRotated" ng-model="main.config.background" />
          {{ 'CHART_OPTIONS_BACKGROUND_LABEL' | translate }}

          <div ng-if="main.config.background && main.appConfig['background colors'] && main.appConfig['background colors'].length > 1">
            <select
              add-color-data-attributes
              ng-if="main.appConfig.colorPicker === 'simple'"
              ng-model="main.config.backgroundColor"
              ng-options="color.value as color.value for color in main.appConfig['background colors']">
            </select>
            <div ng-if="main.appConfig.colorPicker === 'default'">
              <input minicolors type="hidden" ng-model="main.config.backgroundColor" />
            </div>
          </div>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="chartInteraction" ng-model="main.config.interaction.enabled" />
          {{ 'CHART_OPTIONS_INTERACTION_LABEL' | translate }}
        </label>
      </div>
      <div class="checkbox" ng-if="main.config.chartGlobalType === 'series'">
        <label>
          <input type="checkbox" id="xGridlines" ng-model="main.config.grid.x.show" />
          {{ 'CHART_OPTIONS_X_GRID_LABEL' | translate }}
        </label>
      </div>
      <div class="checkbox" ng-if="main.config.chartGlobalType === 'series'">
        <label>
          <input type="checkbox" id="yGridlines" ng-model="main.config.grid.y.show" />
          {{ 'CHART_OPTIONS_Y_GRID_LABEL' | translate }}
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="dataLabels" ng-model="main.config.data.labels" />
          {{ 'CHART_OPTIONS_DATA_LABELS_LABEL' | translate }}
        </label>
      </div>
    </form>
  </div> <!-- /.panel-body -->
</div> <!-- /.panel -->
