<div class="panel panel-default">
  <div class="panel-heading" 
       ng-click="chartOptionsAreCollapsed = !chartOptionsAreCollapsed" 
       ng-class="{collapsed: chartOptionsAreCollapsed}">
    {{ 'PANEL_HEADING_CHART_OPTIONS' | translate }}
  </div>
  
  <div class="panel-body" collapse="!chartOptionsAreCollapsed">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="legendPosition" class="col-sm-2 control-label">{{ 'CHART_OPTIONS_LEGEND_SELECT_LABEL' | translate }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <select class="form-control" id="legendPosition" ng-model="config.legend.position">
              <option value="bottom">{{ 'CHART_OPTIONS_LEGEND_SELECT_OPTION_BOTTOM' | translate }}</option>
              <!-- <option value="top">top</option>
              <option value="left">left</option> -->
              <option value="right">{{ 'CHART_OPTIONS_LEGEND_SELECT_OPTION_RIGHT' | translate }}</option>
            </select>
            <span class="input-group-addon">
              <input type="checkbox" ng-model="config.legend.show" />
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="chartTitle" class="col-sm-2 control-label">{{ 'CHART_OPTIONS_TITLE_LABEL' | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="chartTitle" ng-model="config.chartTitle" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="chartTitle" class="col-sm-2 control-label">{{ 'CHART_OPTIONS_CREDIT_LABEL' | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="chartCredit" ng-model="config.chartCredit" placeholder="{{ 'CHART_OPTIONS_CREDIT_FIELD_PLACEHOLDER' | translate }}" ng-model="chartCredit">
        </div>
      </div>
      <div class="form-group">
        <label for="chartTitle" class="col-sm-2 control-label">{{ 'CHART_OPTIONS_SOURCE_LABEL' | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="chartSource" ng-model="config.chartSource" placeholder="{{ 'CHART_OPTIONS_SOURCE_FIELD_PLACEHOLDER' | translate }}" ng-model="chartSource">
        </div>
      </div>
      <div class="form-group">
        <label for="chartWidth" class="col-sm-2 control-label">{{ 'CHART_OPTIONS_WIDTH_LABEL' | translate }}</label>
        <div class="col-sm-10 input-group chartWidth-group">
          <input type="number" class="form-control" id="chartWidth" ng-model="config.chartWidth">
          <span class="input-group-addon">px</span>
        </div>
      </div>
      <div class="form-group">
        <label for="chartHeight" class="col-sm-2 control-label">{{ 'CHART_OPTIONS_HEIGHT_LABEL' | translate }}</label>
        <div class="col-sm-10 input-group chartHeight-group">
          <input type="number" class="form-control" id="chartHeight" ng-model="config.chartHeight">
          <span class="input-group-addon">px</span>
        </div>
      </div>
      <div class="form-group" ng-if="config.chartGlobalType !== 'series'">
        <label class="col-sm-3 control-label" for="chartAccuracy">{{ 'CHART_OPTIONS_SELECT_LABEL' | translate }}</label>
        <div class="col-sm-9">
          <select id="chartAccuracy" class="form-control" ng-model="config.chartAccuracy">
            <option value="0">{{ 'CHART_OPTIONS_SELECT_OPTION_TEXT' | translate:'{accuracy: 0}' }}</option>
            <option value="1">{{ 'CHART_OPTIONS_SELECT_OPTION_TEXT' | translate:'{accuracy: 1}' }}</option>
            <option value="2">{{ 'CHART_OPTIONS_SELECT_OPTION_TEXT' | translate:'{accuracy: 2}' }}</option>
            <option value="3">{{ 'CHART_OPTIONS_SELECT_OPTION_TEXT' | translate:'{accuracy: 3}' }}</option>
          </select>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="chartRotated" ng-model="config.axis.rotated" />
          {{ 'CHART_OPTIONS_ROTATED_LABEL' | translate }}
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="chartRotated" ng-model="config.background" />
          {{ 'CHART_OPTIONS_BACKGROUND_LABEL' | translate }}
        </label>
      </div>
    </form>
  </div> <!-- /.panel-body -->
</div> <!-- /.panel -->
