<div class="panel panel-default">
  <div class="panel-heading"
    ng-click="outputOptionsAreCollapsed = !outputOptionsAreCollapsed"
    ng-class="{collapsed: !outputOptionsAreCollapsed}">
      {{ 'PANEL_HEADING_OUTPUT' | translate }}
  </div>
  <div class="panel-body" style="text-align: center;" collapse="outputOptionsAreCollapsed">
    <div class="btn-group">
      <save-button type="export" />
    </div>
    <div class="btn-group">
      <save-button type="save" />
    </div>
  </div> <!-- /.panel-body -->
</div> <!-- /.panel -->
