<div class="panel panel-default">
  <div class="panel-heading">
    {{ 'PANEL_HEADING_DATA_INPUT' | translate }}
  </div>

  <div class="panel-body input-chooser">
    <input-chooser config="{
      config: main.config,
      appConfig: main.appConfig,
      inputs: main.inputs,
      updateData: main.updateData,
      resetConfig: main.resetConfig,
      setInput: main.setInput
    }"></input-chooser>
  </div>

  <div class="form-group" ng-repeat="col in main.columns" ng-hide="[main.config.data.x, main.config.data.y, main.config.data.y2].indexOf(col) > -1">
    <label for="type-{{col}}">{{col}}</label>
    <div class="input-group">
      <span class="input-group-addon">
        <select
          add-color-data-attributes
          ng-if="main.appConfig.colorPicker === 'simple'"
          ng-model="main.config.data.colors[col]"
          ng-options="color.value as color.value for color in main.appConfig.colors">
        </select>
        <div ng-if="main.appConfig.colorPicker === 'default'">
          <input minicolors type="hidden" ng-model="main.config.data.colors[col]" />
        </div>
      </span>

      <select
        ng-options="chart as chart for chart in main.chartTypes"
        class="form-control"
        id="type-{{col}}"
        ng-model="main.config.data.types[col]"
        ng-disabled="main.config.chartGlobalType !== 'series'"
        popover="{{ 'POPOVER_TEXT_DATUM_TYPE' | translate }}">
      </select>

      <span class="input-group-addon" ng-show="['bar', 'area', 'area-step', 'area-spline'].indexOf(main.config.data.types[col]) >= 0"> <!-- TODO move this logic to chart config -->
        <select id="group-{{col}}" ng-model="main.config.groups[col]" ng-change="main.setGroups()" title="group">
          <option value="{{index}}" ng-repeat="(index, group) in main.columns">{{index + 1}}</option>
        </select>
      </span>
    </div>
  </div>
</div>
